<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$title}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">

</head>
<body>
<div class="container">
    {block name="content"}{/block}
</div>

<script src="/static/jquery-3.5.1.slim.min.js"></script>
<script src="/static/popper.min.js"></script>
<script src="/static/bootstrap.min.js"></script>

{block name="javascript"}{/block}

</body>

</html>
